#contact {

  background: linear-gradient($gradient-color-2, transparent 60%),
  linear-gradient(0deg, $gradient-color-2, transparent 60%),
  url(../images/sweat.jpg) center no-repeat;
  background-size: cover;
  padding: 1em 0;

}

.brand {
  text-align: center;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(103,197,193, .1);
}

.wrapper > * {
  padding: 1em;
}

.company-info {
  background: $secondary-color;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.company-contact {
  background: #fff;
}

/*
  FORM STYLES
*/

.company-contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.company-contact form label {
  display: block;
}

.company-contact form p {
  margin: 0;
}

.company-contact form .full {
  grid-column: 1 / 3;
}

.company-contact form button,
.company-contact form input,
.company-contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid $secondary-color;
}

.company-contact form button {
  background: $secondary-color;
  border: 0;
  text-transform: uppercase;
}

.company-contact form button:hover,
.company-contact form button:focus {
  background: #c9e6ff;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
  cursor: pointer;
}

//.about-content {
//  display: flex;
//
//}

#about {
  padding: 40px 0;
}

#contact {
  padding-bottom: 40px;
}



