//Base Styles

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: $body-text;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}