#infrared-benefits {
  background: linear-gradient(rgba(250, 250, 250, 0.8), rgba(250, 250, 250, 0.8)),
  url("../images/sweat.jpg") rgba(250, 250, 250, 0.8);
  background-size: cover;
  padding: 50px 0;
}

#infrared-benefits h2 {
  margin-bottom: 25px;
}

.benefits-cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 2 25%;
  height: 100%;
}

.card {
  box-shadow: 2px 2px 2px #ccc;
  border: 1px solid #ccc;
  margin: 10px 0;
}

.card-header {
  background-color: #ccc;
  color: #000;
  text-align: center;
  font-weight: normal;
}

.card-header h4 {
  padding: 0;
  margin: 0;
}
.card-content {
  color: #222;
  background-color: #fff;
}

.card-footer {
  color: $primary-btn-color;
  cursor: pointer;
  background-color: #fff;
}

.card-header,
.card-footer,
.card-content {
  padding: 10px;
}

//.hide {
//  display: none;
//}
//
//.show {
//  display: block;
//}

.other-benefits {
  margin-top: 50px;
}

.other-benefits li {
  padding: 5px 0;
}

.other-benefits p {
  margin: 25px 0 0;
  font-size: .9em;
}