#pricing-general h2,
#pricing-general h3,
#pricing-tables h3{
  text-align: center;
}

.non-member-pricing {
  padding-top: 30px;
}

.non-member-pricing h3,
#pricing-tables h3 {
  margin-bottom: 15px;
}

.non-member-pricing-tables {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.non-member-pricing-tables div ul {
  border: 1px solid #ccc;
}

.non-member-pricing-tables div ul:last-of-type {
  margin-top: 20px;
}

.non-member-pricing-tables div ul li:first-child {
  background-color: $secondary-color;
  text-align: center;
  padding: 1px;
}

.non-member-pricing-tables div ul li {
  padding: 10px 5px;
}

.non-member-pricing-tables div ul li:nth-of-type(3) {
  background-color: $primary-color;
}


/************
Pricing Tables
 */


.col {
  float: left;
  width: 100%;
  padding: 8px;
}

.price-box {
  background: #fff;
  color: #555;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.price-box:hover,
.price-box.best {
  box-shadow: 0 5px 10px 0 #ccc;
}

.price-box .header {
  background-color: $secondary-color;
  color: #000;
  font-size: 25px;
}

.price-box .header-green {
  background-color: $primary-btn-color;
  color: #fff;
}

.price-box li {
  padding: 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.price-box .emph {
  background-color: #f4f4f4;
  font-size: 20px;
}

/******
Pricing Miscellaneous
 */

#pricing-misc {
  clear: both;
}

#pricing-general,
#pricing-misc,
#pricing-tables{
  padding: 50px 0;
}
