@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue Regular.otf')
}

@font-face {
  font-family: 'Euphoria Script';
  src: url('../fonts/EuphoriaScript.ttf');
}