//Variables
$primary-color: rgba(103,197,193, .2);
$secondary-color: rgb(103,197,193);

$dark-text-color: #000;
$light-text-color: #E3E8E7;

$primary-btn-color: #3156A6;
$footer-text-color: #333;

$body-text: 'Montserrat', Tahoma, Helvetica, sans-serif;
$hero-text: 'Euphoria Script', 'Lucida Handwriting', 'Brush Script MT', cursive;
$heading-text: 'Bebas Neue', Calibri, 'Futura Condensed Medium', sans-serif;