//Variables
$primary-color: rgba(103,197,193, .2);
$secondary-color: rgb(103,197,193);

$dark-text-color: #000;
$light-text-color: #E3E8E7;

$primary-btn-color: #3156A6;
$footer-text-color: #333;

$body-text: 'Montserrat', sans-serif;
$hero-text: 'Euphoria Script', cursive;
$heading-text: 'Bebas Neue', sans-serif;


//Base Styles

.top-nav {
  display: none;
}

.side-nav  {
  height: 100vh;
  width: 0vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  padding-top: 15%;
  font-size: 1.5rem;
}

.side-nav li {
  padding: 5px;
}

#btn-close {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 60px;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: $body-text;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

//Header

.brand-logo img {
  max-width: 100%;
  width: 70%;
}

header {
  padding: 20px 0 15px;
}

header,
footer {
  background: $primary-color;
}

.header-contact {
  display: none;
}

header .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

//Navigation

.main-nav {
  background: $secondary-color;
}

.main-nav a {
  font-family: $heading-text;
  color: $dark-text-color;
}


//Buttons

.btn {
  padding: 10px;
  border-radius: 5px;
  color: $light-text-color;
  font-size: .75rem;
  &:hover,
  &:active {
    background-color: transparent;
  }
}

.btn-primary {
  background-color: $primary-btn-color;
}

.btn-success {
  background-color: $secondary-color;
  color: $dark-text-color;
}

.btn-primary:hover {
  color: $primary-btn-color;
  border: 1px solid $primary-btn-color;
}

.btn-success:hover {
  color: $secondary-color;;
  border: 1px solid $secondary-color;
}


// Home Page

#hero {
  text-align: center;
}

#hero h1 {
  font-family: $hero-text;
  margin: 0;
  font-size: 4.25rem;
}

#hero h2 {
  font-size: 1.1rem;
}

#hero span {
  color: $secondary-color;
}


//Slides
.slide1 {
  background-image: url("../images/group-of-3.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-content {
  position: relative;
  bottom: 75px;
}

.cta {
  margin-top: 35px;
}


//Footer

footer {
  padding: 25px 0;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.copyright-social span {
  display: inline-block;
}

footer li,
.copyright-social span {
  padding: 5px 3px;
}

.copyright-social span,
footer li a {
  color: $footer-text-color;
  font-size: .75em;
}

.copyright-social img {
  width: 20px;
  margin-left: 5px;
}

.social {
  text-align: right;

}


//MEDIA QUERIES

//Tablets
@media(min-width: 768px) {
  .brand-logo img {
    width: 85%;
  }

  .side-nav {
    font-size: 1.75rem;
  }

  #hero h1 {
    font-size: 7.75rem;
  }

  #hero h2 {
    font-size: 1.75rem;
  }

  .btn {
    font-size: 1.3rem;
    padding: 15px;
  }

  .copyright-social span,
  footer li a {
    font-size: 1.125em;
  }

  footer ul {
    display: flex;
  }

  footer li {
    padding-left: 10px;
  }

  .copyright-social img {
    width: 22px;
  }
}

//Laptops

@media(min-width: 1024px) {
  #hamburger, .side-nav {
    display: none;
  }

  .top-nav {
    display: block;
  }

  .top-nav .container ul {
    display: flex;
    justify-content: center;
  }

  .top-nav .container ul li {

    margin: 0 25px;
    font-size: 1.25em;
  }

  .top-nav ul a {
    //font-size: 1.25em;
    //padding: 10px 20px;
    padding: 10px 10px;
    display: inline-block;
    &:hover,
    &:active {
      background-color: darken($secondary-color, 10%);
    }
  }

  .header-contact {
    display: inline-block;
    text-align: right;
    font-size: .9rem;
  }
}

@media(min-width: 1024px) and (orientation: portrait) {
  .hero-content {
    bottom: 125px;
  }

}

@media(min-width: 1366px) {
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }

  .header-contact {
    position: absolute;
    right: 0;
  }

  .copyright-social span,
  footer li a {
    font-size: .95em;
  }

  header {
    padding: 5px 0;
  }

  .top-nav ul a {
    padding: 5px 10px;
  }

  #hero h1 {
    font-size: 6.75rem;
  }

  #hero h2 {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1.1rem;
    padding: 12px 15px;
  }

  .hero-content {
    bottom: 75px;
  }

  .slide1 {
    background-position: center 35%;
  }
}



















