.top-nav {
  display: none; }

.side-nav {
  height: 100vh;
  width: 0vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  padding-top: 15%;
  font-size: 1.5rem; }

.side-nav li {
  padding: 5px; }

#btn-close {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 60px; }

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto; }

body {
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

.brand-logo img {
  max-width: 100%;
  width: 70%; }

header {
  padding: 20px 0 15px; }

header,
footer {
  background: rgba(103, 197, 193, 0.2); }

.header-contact {
  display: none; }

header .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center; }

.main-nav {
  background: #67c5c1; }

.main-nav a {
  font-family: "Bebas Neue", sans-serif;
  color: #000; }

.btn {
  padding: 10px;
  border-radius: 5px;
  color: #E3E8E7;
  font-size: .75rem; }
  .btn:hover, .btn:active {
    background-color: transparent; }

.btn-primary {
  background-color: #3156A6; }

.btn-success {
  background-color: #67c5c1;
  color: #000; }

.btn-primary:hover {
  color: #3156A6;
  border: 1px solid #3156A6; }

.btn-success:hover {
  color: #67c5c1;
  border: 1px solid #67c5c1; }

#hero {
  text-align: center; }

#hero h1 {
  font-family: "Euphoria Script", cursive;
  margin: 0;
  font-size: 4.25rem; }

#hero h2 {
  font-size: 1.1rem; }

#hero span {
  color: #67c5c1; }

.slide1 {
  background-image: url("../images/group-of-3.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.hero-content {
  position: relative;
  bottom: 75px; }

.cta {
  margin-top: 35px; }

footer {
  padding: 25px 0; }

.main-footer .container {
  display: flex;
  justify-content: space-between; }

.copyright-social span {
  display: inline-block; }

footer li,
.copyright-social span {
  padding: 5px 3px; }

.copyright-social span,
footer li a {
  color: #333;
  font-size: .75em; }

.copyright-social img {
  width: 20px;
  margin-left: 5px; }

.social {
  text-align: right; }

@media (min-width: 768px) {
  .brand-logo img {
    width: 85%; }
  .side-nav {
    font-size: 1.75rem; }
  #hero h1 {
    font-size: 7.75rem; }
  #hero h2 {
    font-size: 1.75rem; }
  .btn {
    font-size: 1.3rem;
    padding: 15px; }
  .copyright-social span,
  footer li a {
    font-size: 1.125em; }
  footer ul {
    display: flex; }
  footer li {
    padding-left: 10px; }
  .copyright-social img {
    width: 22px; } }

@media (min-width: 1024px) {
  #hamburger, .side-nav {
    display: none; }
  .top-nav {
    display: block; }
  .top-nav .container ul {
    display: flex;
    justify-content: center; }
  .top-nav .container ul li {
    margin: 0 25px;
    font-size: 1.25em; }
  .top-nav ul a {
    padding: 10px 10px;
    display: inline-block; }
    .top-nav ul a:hover, .top-nav ul a:active {
      background-color: #45b4af; }
  .header-contact {
    display: inline-block;
    text-align: right;
    font-size: .9rem; } }

@media (min-width: 1024px) and (orientation: portrait) {
  .hero-content {
    bottom: 125px; } }

@media (min-width: 1366px) {
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative; }
  .header-contact {
    position: absolute;
    right: 0; }
  .copyright-social span,
  footer li a {
    font-size: .95em; }
  header {
    padding: 5px 0; }
  .top-nav ul a {
    padding: 5px 10px; }
  #hero h1 {
    font-size: 6.75rem; }
  #hero h2 {
    font-size: 1.5rem; }
  .btn {
    font-size: 1.1rem;
    padding: 12px 15px; }
  .hero-content {
    bottom: 75px; }
  .slide1 {
    background-position: center 35%; } }
